include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include rise_pos *.css
recursive-include rise_pos *.csv
recursive-include rise_pos *.html
recursive-include rise_pos *.ico
recursive-include rise_pos *.js
recursive-include rise_pos *.json
recursive-include rise_pos *.md
recursive-include rise_pos *.png
recursive-include rise_pos *.py
recursive-include rise_pos *.svg
recursive-include rise_pos *.txt
recursive-exclude rise_pos *.pyc